In [55]:
import pandas as pd
import csv
import json
import numpy as np
from census import Census
import requests
from us import states
import scipy as sts
from matplotlib import pyplot as plt

In [56]:
file_path = 'final_accident_df.csv'
accident_df = pd.read_csv(file_path)
accident_df

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,2019-12-26,17:09:52,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
1,2019-12-26,17:10:32,2019-12-26 17:10:32,40.889641,-95.798630,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
2,2019-12-31,23:49:36,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
3,2019-12-31,23:50:02,2019-12-31 23:50:02,42.398125,-83.109009,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
4,2019-12-31,23:29:03,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953728,2019-08-23,18:03:25,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.0,Fair
953729,2019-08-23,19:11:30,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.0,Fair
953730,2019-08-23,19:00:21,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.0,Partly Cloudy
953731,2019-08-23,19:00:21,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.0,Fair
953732,2019-08-23,18:52:06,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.0,Fair

In [57]:
spring_dates_df = accident_df[(accident_df['Date'] >= '2019-03-01') & (accident_df['Date'] <= '2019-05-31')]
spring_count = list(spring_dates_df['State'].value_counts())
spring_count

[35459,
 18754,
 15049,
 13943,
 12766,
 11393,
 7873,
 7006,
 6585,
 5974,
 5863,
 5797,
 5667,
 5188,
 4960,
 4956,
 4848,
 4834,
 4663,
 4471,
 3547,
 3404,
 2977,
 2950,
 2609,
 2205,
 1697,
 1500,
 1492,
 1335,
 1197,
 724,
 602,
 508,
 508,
 500,
 477,
 465,
 416,
 346,
 285,
 145,
 128,
 97,
 33,
 30,
 20,
 15,
 5]

In [58]:
summer_dates_df = accident_df[(accident_df['Date'] >= '2019-06-01') & (accident_df['Date'] <= '2019-08-31')]
summer_count = list(summer_dates_df['State'].value_counts())
summer_count

[33056,
 19453,
 15522,
 14117,
 10856,
 10349,
 9686,
 6664,
 6057,
 5888,
 5589,
 5480,
 4895,
 4866,
 4724,
 4451,
 4435,
 4321,
 4280,
 4210,
 3585,
 3468,
 3157,
 2759,
 2105,
 2045,
 2020,
 1692,
 1420,
 1308,
 1081,
 786,
 725,
 596,
 476,
 445,
 418,
 406,
 400,
 390,
 235,
 205,
 145,
 124,
 53,
 20,
 12,
 4,
 2]

In [59]:
fall_dates_df = accident_df[(accident_df['Date'] >= '2019-09-01') & (accident_df['Date'] <= '2019-11-31')]
fall_count = (fall_dates_df['State'].value_counts())
fall_count

CA    86691
TX    21641
SC    17123
FL    15550
NC    11556
OR    10335
NY    10245
MN     9344
AZ     6668
UT     5976
VA     5788
TN     5270
PA     5266
IL     5042
MI     5036
GA     5019
AL     4989
LA     4924
CO     4377
OK     4171
WA     3782
OH     3706
NJ     2852
MD     2844
MA     2480
KY     2132
MO     2003
IN     1892
WI     1843
CT     1442
NE      957
IA      796
RI      756
NV      716
MS      477
KS      465
DE      457
NH      441
NM      342
DC      269
AR      214
ME      138
ID      136
WV       87
VT       75
MT       32
WY       19
SD        4
ND        2
Name: State, dtype: int64

In [60]:
winter_dates_1 = accident_df[(accident_df['Date'] >= '2019-12-01') & (accident_df['Date'] <= '2019-12-31')]
winter_dates_2 = accident_df[(accident_df['Date'] >= '2019-01-01') & (accident_df['Date'] <= '2019-02-28')]
winter = winter_dates_1.append(winter_dates_2)
winter.sort_values(by='Date', ascending=True)
winter_dates = winter['State'].value_counts()
winter_count = list(winter_dates)

In [61]:
# winter = winter[(winter['Temperature(F)'] >= 3) & (winter['Temperature(F)'] <= 67)]
# winter.drop_duplicates(subset='State', inplace=True)
# winter.head(10)

In [62]:
# spring_dates_df = spring_dates_df[(spring_dates_df['Temperature(F)'] >= 24) & (spring_dates_df['Temperature(F)'] <= 70)]
# spring_dates_df.drop_duplicates(subset='State', inplace=True)
# spring_dates_df.head(10)
# spring_dates_df['State'].unique()

In [63]:
# summer_dates_df = summer_dates_df[(summer_dates_df['Temperature(F)'] >= 52) & (summer_dates_df['Temperature(F)'] <= 81)]
# summer_dates_df.drop_duplicates(subset='State', inplace=True)
# summer_dates_df.head(10)
# summer_dates_df['State'].unique()

In [64]:
# fall_dates_df = fall_dates_df[(fall_dates_df['Temperature(F)'] >= 27) & (fall_dates_df['Temperature(F)'] <= 73)]
# fall_dates_df.drop_duplicates(subset='State', inplace=True)
# fall_dates_df.head(10)
# fall_dates_df['State'].unique()

In [65]:
count_dict = {
    'Fall': fall_count,
    'Spring': spring_count,
    'Summer': summer_count,
    'Winter': winter_count,
}
pd.DataFrame(count_dict)

     Fall  Spring  Summer  Winter
CA  86691   35459   33056   58156
TX  21641   18754   19453   18861
SC  17123   15049   15522   14184
FL  15550   13943   14117   13808
NC  11556   12766   10856   13278
OR  10335   11393   10349   11321
NY  10245    7873    9686   11307
MN   9344    7006    6664   10442
AZ   6668    6585    6057    7020
UT   5976    5974    5888    6786
VA   5788    5863    5589    6519
TN   5270    5797    5480    5720
PA   5266    5667    4895    5638
IL   5042    5188    4866    5571
MI   5036    4960    4724    5529
GA   5019    4956    4451    5274
AL   4989    4848    4435    4857
LA   4924    4834    4321    4611
CO   4377    4663    4280    4305
OK   4171    4471    4210    4230
WA   3782    3547    3585    3818
OH   3706    3404    3468    3774
NJ   2852    2977    3157    3473
MD   2844    2950    2759    3279
MA   2480    2609    2105    2614
KY   2132    2205    2045    2495
MO   2003    1697    2020    2126
IN   1892    1500    1692    2073
WI   1843    1492    1420    1516
CT   1442    1335    1308    1407
NE    957    1197    1081    1370
IA    796     724     786     942
RI    756     602     725     898
NV    716     508     596     824
MS    477     508     476     768
KS    465     500     445     602
DE    457     477     418     577
NH    441     465     406     468
NM    342     416     400     399
DC    269     346     390     350
AR    214     285     235     257
ME    138     145     205     176
ID    136     128     145     148
WV     87      97     124     134
VT     75      33      53      72
MT     32      30      20      66
WY     19      20      12      61
SD      4      15       4       8
ND      2       5       2       4

In [66]:
tx_spring = spring_dates_df.loc[spring_dates_df.State == 'TX', : ]
tx_spring

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
402977,2019-05-31,04:01:55,2019-05-31 04:01:55,29.442560,-98.638702,San Antonio,TX,2019-05-31 03:56:00,70.0,70.0,10.0,WSW,6.0,0.0,Fair
402978,2019-05-31,04:05:39,2019-05-31 04:05:39,29.315590,-98.592354,Von Ormy,TX,2019-05-31 03:56:00,70.0,70.0,10.0,WSW,6.0,0.0,Fair
402979,2019-05-31,04:21:22,2019-05-31 04:21:22,29.319740,-98.532608,San Antonio,TX,2019-05-31 03:56:00,70.0,70.0,10.0,WSW,6.0,0.0,Fair
402980,2019-05-31,05:19:55,2019-05-31 05:19:55,29.416910,-98.542152,San Antonio,TX,2019-05-31 04:56:00,68.0,68.0,10.0,NNE,8.0,0.0,Fair
402981,2019-05-31,06:18:55,2019-05-31 06:18:55,29.464443,-98.404030,San Antonio,TX,2019-05-31 05:51:00,69.0,69.0,10.0,N,5.0,0.0,Partly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921503,2019-05-31,11:51:49,2019-05-31 11:51:49,32.839720,-97.320210,Fort Worth,TX,2019-05-31 11:53:00,74.0,74.0,10.0,SSE,8.0,0.0,Fair
921508,2019-05-31,11:58:34,2019-05-31 11:58:34,32.561550,-97.114350,Mansfield,TX,2019-05-31 11:53:00,71.0,71.0,10.0,SSE,6.0,0.0,Fair
921510,2019-05-31,12:06:02,2019-05-31 12:06:02,32.732600,-97.376090,Fort Worth,TX,2019-05-31 11:52:00,75.0,75.0,10.0,SE,10.0,0.0,Fair
921517,2019-05-31,17:21:53,2019-05-31 17:21:53,32.667390,-96.731970,Dallas,TX,2019-05-31 16:53:00,83.0,83.0,10.0,SW,5.0,0.0,Fair
921518,2019-05-31,16:21:02,2019-05-31 16:21:02,32.764500,-96.850750,Dallas,TX,2019-05-31 15:53:00,82.0,82.0,10.0,WSW,5.0,0.0,Fair

In [67]:
tx_summer = summer_dates_df.loc[summer_dates_df.State == 'TX', :]
tx_summer

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
207939,2019-08-31,13:04:10,2019-08-31 13:04:10,29.393919,-98.659561,San Antonio,TX,2019-08-31 12:56:00,91.0,91.0,10.0,ENE,7.0,0.00,Partly Cloudy
207940,2019-08-31,13:11:09,2019-08-31 13:11:09,29.417849,-98.650108,San Antonio,TX,2019-08-31 12:56:00,91.0,91.0,10.0,ENE,7.0,0.00,Partly Cloudy
207941,2019-08-31,15:24:26,2019-08-31 15:24:26,29.575636,-98.461243,San Antonio,TX,2019-08-31 15:51:00,97.0,97.0,10.0,SE,7.0,0.00,Mostly Cloudy
207942,2019-08-31,17:24:21,2019-08-31 17:24:21,29.397224,-98.649551,San Antonio,TX,2019-08-31 16:59:00,98.0,98.0,10.0,ENE,8.0,0.00,Fair
207943,2019-08-31,17:27:04,2019-08-31 17:27:04,29.431940,-98.499939,San Antonio,TX,2019-08-31 16:59:00,98.0,98.0,10.0,ENE,8.0,0.00,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953465,2019-08-23,13:16:19,2019-08-23 13:16:19,29.749589,-95.456110,Houston,TX,2019-08-23 13:13:00,76.0,76.0,1.0,NE,12.0,0.68,Heavy T-Storm
953466,2019-08-23,13:04:19,2019-08-23 13:04:19,29.778089,-95.373146,Houston,TX,2019-08-23 13:00:00,76.0,76.0,0.5,NNE,15.0,0.25,Heavy T-Storm
953467,2019-08-23,13:00:34,2019-08-23 13:00:34,29.774190,-95.320940,Houston,TX,2019-08-23 13:00:00,76.0,76.0,0.5,NNE,15.0,0.25,Heavy T-Storm
953469,2019-08-23,16:44:23,2019-08-23 16:44:23,29.941686,-95.295187,Humble,TX,2019-08-23 16:53:00,84.0,84.0,10.0,SE,13.0,0.00,Mostly Cloudy
953470,2019-08-23,17:32:09,2019-08-23 17:32:09,29.971810,-95.562340,Houston,TX,2019-08-23 17:53:00,83.0,83.0,10.0,SE,12.0,0.00,Fair

In [68]:
tx_fall = fall_dates_df.loc[fall_dates_df.State == 'TX', :]
tx_fall

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
57862,2019-10-06,06:05:34,2019-10-06 06:05:34,29.716404,-98.663506,Boerne,TX,2019-10-06 05:55:00,64.0,64.0,10.0,CALM,0.0,0.0,Fair
57863,2019-10-06,07:59:32,2019-10-06 07:59:32,29.410860,-98.461250,San Antonio,TX,2019-10-06 07:53:00,71.0,71.0,10.0,CALM,0.0,0.0,Partly Cloudy
57864,2019-10-06,08:55:25,2019-10-06 08:55:25,29.426250,-98.517967,San Antonio,TX,2019-10-06 08:56:00,77.0,77.0,10.0,CALM,0.0,0.0,Fair
57865,2019-10-06,09:35:54,2019-10-06 09:35:54,29.469561,-98.650253,San Antonio,TX,2019-10-06 09:56:00,81.0,81.0,10.0,CALM,0.0,0.0,Fair
57866,2019-10-06,11:18:32,2019-10-06 11:18:32,29.610069,-98.472397,San Antonio,TX,2019-10-06 10:51:00,83.0,83.0,10.0,SE,5.0,0.0,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827268,2019-09-16,17:22:26,2019-09-16 17:22:26,30.407152,-97.674911,Austin,TX,2019-09-16 17:51:00,96.0,96.0,10.0,VAR,7.0,0.0,Fair
827269,2019-09-16,18:10:26,2019-09-16 18:10:26,32.676020,-96.857690,Dallas,TX,2019-09-16 17:53:00,93.0,93.0,10.0,E,10.0,0.0,Mostly Cloudy
827272,2019-09-16,17:58:26,2019-09-16 17:58:26,32.669810,-97.363520,Fort Worth,TX,2019-09-16 17:46:00,97.0,97.0,7.0,E,10.0,0.0,Partly Cloudy
827273,2019-09-16,21:31:26,2019-09-16 21:31:26,30.348190,-97.712368,Austin,TX,2019-09-16 21:51:00,86.0,86.0,10.0,ESE,10.0,0.0,Fair
827274,2019-09-16,21:27:41,2019-09-16 21:27:41,29.992330,-95.424330,Houston,TX,2019-09-16 21:53:00,76.0,76.0,10.0,NE,6.0,0.0,Fair

In [69]:
tx_winter = winter.loc[winter.State == 'TX', :]
tx_winter

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
265,2019-12-25,03:02:11,2019-12-25 03:02:11,29.419821,-98.536057,San Antonio,TX,2019-12-25 02:56:00,46.0,46.0,8.00,CALM,0.0,0.0,Fair
266,2019-12-25,06:16:34,2019-12-25 06:16:34,29.591667,-98.352081,San Antonio,TX,2019-12-25 06:16:00,43.0,40.0,0.63,NNW,5.0,0.0,Fog
267,2019-12-25,19:16:43,2019-12-25 19:16:43,29.423311,-98.422562,San Antonio,TX,2019-12-25 18:53:00,64.0,64.0,10.00,ESE,6.0,0.0,Mostly Cloudy
268,2019-12-25,00:16:20,2019-12-25 00:16:20,30.176735,-97.638504,Del Valle,TX,2019-12-25 00:53:00,48.0,46.0,10.00,SSW,5.0,0.0,Fair
269,2019-12-25,00:57:57,2019-12-25 00:57:57,30.423965,-97.588974,Pflugerville,TX,2019-12-25 00:55:00,48.0,45.0,10.00,SSW,8.0,0.0,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878423,2019-01-30,10:25:33,2019-01-30 10:25:33,29.673670,-95.381850,Houston,TX,2019-01-30 10:15:00,46.4,40.1,10.00,NE,15.0,NaN,Scattered Clouds
878427,2019-01-30,14:20:03,2019-01-30 14:20:03,29.773250,-95.340410,Houston,TX,2019-01-30 14:15:00,51.8,NaN,10.00,Calm,NaN,NaN,Overcast
878430,2019-01-30,15:14:46,2019-01-30 15:14:46,29.707660,-95.228180,Pasadena,TX,2019-01-30 14:53:00,50.0,NaN,10.00,East,9.2,NaN,Overcast
878432,2019-01-30,16:57:35,2019-01-30 16:57:35,30.192010,-95.191420,New Caney,TX,2019-01-30 16:53:00,50.0,NaN,10.00,SE,13.8,NaN,Mostly Cloudy
878491,2019-01-30,07:05:41,2019-01-30 07:05:41,31.777370,-106.433030,El Paso,TX,2019-01-30 06:51:00,41.0,35.2,10.00,North,9.2,NaN,Overcast

In [70]:
tx_total = accident_df.loc[accident_df.State == 'TX', :]
tx_total

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
265,2019-12-25,03:02:11,2019-12-25 03:02:11,29.419821,-98.536057,San Antonio,TX,2019-12-25 02:56:00,46.0,46.0,8.00,CALM,0.0,0.00,Fair
266,2019-12-25,06:16:34,2019-12-25 06:16:34,29.591667,-98.352081,San Antonio,TX,2019-12-25 06:16:00,43.0,40.0,0.63,NNW,5.0,0.00,Fog
267,2019-12-25,19:16:43,2019-12-25 19:16:43,29.423311,-98.422562,San Antonio,TX,2019-12-25 18:53:00,64.0,64.0,10.00,ESE,6.0,0.00,Mostly Cloudy
268,2019-12-25,00:16:20,2019-12-25 00:16:20,30.176735,-97.638504,Del Valle,TX,2019-12-25 00:53:00,48.0,46.0,10.00,SSW,5.0,0.00,Fair
269,2019-12-25,00:57:57,2019-12-25 00:57:57,30.423965,-97.588974,Pflugerville,TX,2019-12-25 00:55:00,48.0,45.0,10.00,SSW,8.0,0.00,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953465,2019-08-23,13:16:19,2019-08-23 13:16:19,29.749589,-95.456110,Houston,TX,2019-08-23 13:13:00,76.0,76.0,1.00,NE,12.0,0.68,Heavy T-Storm
953466,2019-08-23,13:04:19,2019-08-23 13:04:19,29.778089,-95.373146,Houston,TX,2019-08-23 13:00:00,76.0,76.0,0.50,NNE,15.0,0.25,Heavy T-Storm
953467,2019-08-23,13:00:34,2019-08-23 13:00:34,29.774190,-95.320940,Houston,TX,2019-08-23 13:00:00,76.0,76.0,0.50,NNE,15.0,0.25,Heavy T-Storm
953469,2019-08-23,16:44:23,2019-08-23 16:44:23,29.941686,-95.295187,Humble,TX,2019-08-23 16:53:00,84.0,84.0,10.00,SE,13.0,0.00,Mostly Cloudy
953470,2019-08-23,17:32:09,2019-08-23 17:32:09,29.971810,-95.562340,Houston,TX,2019-08-23 17:53:00,83.0,83.0,10.00,SE,12.0,0.00,Fair

In [77]:
tx_array = tx_total['Temperature(F)']
us_array = np.array([accident_df['Temperature(F)']])

In [81]:
len(tx_array)
# population = us_array
# sample = tx_array

# plt.scatter(range(len(population)), population, label='population')
# plt.scatter(range(len(sample)), sample, label='sample')
# plt.legend()

78709