In [3]:
import pandas as pd
import csv
import json
import numpy as np
from census import Census
import requests
from us import states
from api_key import weather_key

In [4]:
file_path = 'population by state.csv'
file_path2 = 'population by city.csv'
file_path3 = 'us accidents june20.csv'

state_df = pd.read_csv(file_path)
city_df = pd.read_csv(file_path2)
accident_df = pd.read_csv(file_path3)

In [5]:
accident_df = accident_df.loc[:, ['Start_Time','Start_Lat', 'Start_Lng','City','State','Weather_Timestamp','Temperature(F)', 'Wind_Chill(F)','Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)','Precipitation(in)', 'Weather_Condition']]
accident_df

,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,OH,2016-02-08 05:58:00,36.9,NaN,10.0,Calm,NaN,0.02,Light Rain
1,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,OH,2016-02-08 05:51:00,37.9,NaN,10.0,Calm,NaN,0.00,Light Rain
2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,OH,2016-02-08 06:56:00,36.0,33.3,10.0,SW,3.5,NaN,Overcast
3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,OH,2016-02-08 07:38:00,35.1,31.0,9.0,SW,4.6,NaN,Mostly Cloudy
4,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,OH,2016-02-08 07:53:00,36.0,33.3,6.0,SW,3.5,NaN,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.00,Fair
3513613,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.00,Fair
3513614,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.00,Partly Cloudy
3513615,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.00,Fair
3513616,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.00,Fair

In [17]:
df = accident_df['Start_Time'].str.split(' ', 1)
date_series = df['date'] = df.str.get(0)
time_series = df['time'] = df.str.get(1)

time_series = list(time_series)
date_series = list(date_series)
del time_series[-1]

accident_df['Date'] = date_series
accident_df['Time'] = time_series
accident_df

,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Date,Time
0,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,OH,2016-02-08 05:58:00,36.9,NaN,10.0,Calm,NaN,0.02,Light Rain,2016-02-08,05:46:00
1,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,OH,2016-02-08 05:51:00,37.9,NaN,10.0,Calm,NaN,0.00,Light Rain,2016-02-08,06:07:59
2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,OH,2016-02-08 06:56:00,36.0,33.3,10.0,SW,3.5,NaN,Overcast,2016-02-08,06:49:27
3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,OH,2016-02-08 07:38:00,35.1,31.0,9.0,SW,4.6,NaN,Mostly Cloudy,2016-02-08,07:23:34
4,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,OH,2016-02-08 07:53:00,36.0,33.3,6.0,SW,3.5,NaN,Mostly Cloudy,2016-02-08,07:39:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.00,Fair,2019-08-23,18:03:25
3513613,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.00,Fair,2019-08-23,19:11:30
3513614,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.00,Partly Cloudy,2019-08-23,19:00:21
3513615,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.00,Fair,2019-08-23,19:00:21
3513616,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.00,Fair,2019-08-23,18:52:06

In [34]:
year_2019_2020 = accident_df['Date'] > '2018-12-31'
year_2019_2020.head()

0    False
1    False
2    False
3    False
4    False
Name: Date, dtype: bool

In [35]:
accident_df_19_20 = accident_df[year_2019]
accident_df_19_20

,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Date,Time
512224,2020-05-24 01:37:16,42.932457,-78.766060,Buffalo,NY,2020-05-24 01:54:00,64.0,64.0,10.0,CALM,0.0,0.00,Cloudy,2020-05-24,01:37:16
512225,2020-05-24 04:19:35,43.005428,-78.948601,Grand Island,NY,2020-05-24 03:53:00,62.0,62.0,5.0,ESE,5.0,0.01,Light Rain,2020-05-24,04:19:35
512226,2020-05-24 16:00:22,42.744190,-78.842873,Hamburg,NY,2020-05-24 15:54:00,83.0,83.0,10.0,SW,9.0,0.00,Partly Cloudy,2020-05-24,16:00:22
512227,2020-05-24 09:21:07,42.013992,-70.726639,Duxbury,MA,2020-05-24 09:15:00,54.0,54.0,10.0,ENE,13.0,0.00,Mostly Cloudy,2020-05-24,09:21:07
512228,2020-05-24 15:13:34,42.380833,-71.076225,Charlestown,MA,2020-05-24 14:54:00,52.0,52.0,10.0,E,15.0,0.00,Cloudy,2020-05-24,15:13:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.00,Fair,2019-08-23,18:03:25
3513613,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.00,Fair,2019-08-23,19:11:30
3513614,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.00,Partly Cloudy,2019-08-23,19:00:21
3513615,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.00,Fair,2019-08-23,19:00:21
3513616,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.00,Fair,2019-08-23,18:52:06

In [36]:
year_2019 = accident_df_19_20['Date'] < '2020-01-01'
year_2019

512224     False
512225     False
512226     False
512227     False
512228     False
           ...
3513612     True
3513613     True
3513614     True
3513615     True
3513616     True
Name: Date, Length: 1492920, dtype: bool

In [48]:
final_accident_df_2019 = accident_df_19_20[year_2019]
final_accident_df_2019

,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Date,Time
641495,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair,2019-12-26,17:09:52
641496,2019-12-26 17:10:32,40.889641,-95.798630,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair,2019-12-26,17:10:32
740268,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy,2019-12-31,23:49:36
740270,2019-12-31 23:50:02,42.398125,-83.109009,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy,2019-12-31,23:50:02
740335,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.0,Mostly Cloudy,2019-12-31,23:29:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.0,Fair,2019-08-23,18:03:25
3513613,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.0,Fair,2019-08-23,19:11:30
3513614,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.0,Partly Cloudy,2019-08-23,19:00:21
3513615,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.0,Fair,2019-08-23,19:00:21
3513616,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.0,Fair,2019-08-23,18:52:06

In [49]:
final_accident_df_2019['Date'].sort_values()

3192937    2019-01-01
3193479    2019-01-01
3193573    2019-01-01
3193572    2019-01-01
3193571    2019-01-01
              ...
751933     2019-12-31
751934     2019-12-31
751935     2019-12-31
751937     2019-12-31
751821     2019-12-31
Name: Date, Length: 953733, dtype: object

In [50]:
final_accident_df_2019.columns

Index(['Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Date', 'Time'],
      dtype='object')

In [51]:
new_order = ['Date','Time','Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition']
final_accident_df_2019 = final_accident_df_2019.reindex(columns = new_order)

In [52]:
final_accident_df_2019

,Date,Time,Start_Time,Start_Lat,Start_Lng,City,State,Weather_Timestamp,Temperature(F),Wind_Chill(F),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
641495,2019-12-26,17:09:52,2019-12-26 17:09:52,40.884850,-95.800362,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
641496,2019-12-26,17:10:32,2019-12-26 17:10:32,40.889641,-95.798630,Thurman,IA,2019-12-26 17:15:00,31.0,31.0,10.0,CALM,0.0,0.0,Fair
740268,2019-12-31,23:49:36,2019-12-31 23:49:36,42.313499,-83.091225,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
740270,2019-12-31,23:50:02,2019-12-31 23:50:02,42.398125,-83.109009,Detroit,MI,2019-12-31 23:53:00,28.0,17.0,7.0,WSW,13.0,0.0,Cloudy
740335,2019-12-31,23:29:03,2019-12-31 23:29:03,39.754967,-75.276283,Swedesboro,NJ,2019-12-31 23:54:00,43.0,36.0,10.0,WNW,14.0,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,2019-08-23,18:03:25,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,CA,2019-08-23 17:53:00,86.0,86.0,10.0,W,13.0,0.0,Fair
3513613,2019-08-23,19:11:30,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,CA,2019-08-23 18:53:00,70.0,70.0,10.0,SW,6.0,0.0,Fair
3513614,2019-08-23,19:00:21,2019-08-23 19:00:21,33.775450,-117.847790,Orange,CA,2019-08-23 18:53:00,73.0,73.0,10.0,SSW,10.0,0.0,Partly Cloudy
3513615,2019-08-23,19:00:21,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,CA,2019-08-23 18:51:00,71.0,71.0,10.0,SW,8.0,0.0,Fair
3513616,2019-08-23,18:52:06,2019-08-23 18:52:06,34.133930,-117.230920,Highland,CA,2019-08-23 20:50:00,79.0,79.0,7.0,SW,7.0,0.0,Fair